{% extends "base.html" %}

{% block head %} 
<script src="../static/js/a_licitaciones_process.js"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Mensajes flash -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Barra lateral de conversaciones y enlaces externos -->
      <div class="col">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: auto;">
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <i class="bi bi-robot"></i>
            <span class="fs-4">&nbsp; {{ actual_agent.nombre_agente }} </span>
          </a>
          <hr>
          <ul id="conversations-list" class="nav nav-pills flex-column mb-auto">
            {% for tag, chats in sorted_chats.items() %}
              <li class="nav-item">
                <p class="badge text-bg-primary mb-0">{{ tag }}</p>
              </li>
              {% for chat in chats %}
                <li data-id="{{ chat.id_conversacion }}" class="nav-item conversation">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn">
                      <i class="bi bi-chat-dots"></i> {{ chat.nombre_conversacion }} 
                    </button>
                    <button type="button" class="btn">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </div>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
          <hr>
          <div class="d-flex justify-content-center">
            <form method="GET" action="/agente_licitaciones/agente_licitaciones">
              <div class="input-group">
                <button class="btn btn-primary" type="submit" id="btn-new-chat">+</button>
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card my-3" style="width: 80%;">
              <div class="card-body">
                <h5 class="card-title">Capacitaciones</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Analítica y Procesos</h6>
                <p class="card-text">Some quick example text content.</p>
                <a href="#" class="card-link">Conoce más</a>
              </div>
            </div>
          </div>
          <a href="#" class="icon-link">
            Descubre el proyecto
            <i class="bi bi-arrow-right-circle"></i>
          </a>
        </div>
      </div>
      <!-- Ventana de conversación para consulta general con el chatbot -->
      <div class="col-md-7">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: auto;">
          <h1 class="mt-5 text-center">{{ actual_agent.nombre_agente }}</h1>
          <p class="lead text-center">&#129302; {{ actual_agent.configuracion }}</p>
          <br>
          <form id="upload-form" method="POST" enctype="multipart/form-data">
            <div class="alert alert-primary" role="alert">
                No olvides cargar los archivos que quieres analizar..
            </div>
            <label for="file" class="form-label">Archivo del proceso:</label>
            <div class="input-group mb-3">
                <input class="form-control" type="file" name="file" id="file" accept=".pdf,.doc,.docx" multiple>
                <button type="button" id="upload-button" class="btn btn-primary" onclick="getFilesChat()">Cargar</button>
            </div>
        </form>        
          <br>
          <div id="list-group" data-conversation-id="{{ new_chat_uuid }}" class="list-group w-auto"></div>
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder='Consulta...' id="chat-input">
            <button id="bot-button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
      <!-- Barra lateral para cargue de archivos -->
      <div class="col">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: auto;">
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <i class="bi bi-bar-chart-line"></i>
            <span class="fs-4">&nbsp;Análisis de documentos</span>
          </a>
          <hr>
          <figure class="figure">
            <img src="https://openflyers.com/picture/2018-09-19-documents.jpg" class="figure-img img-fluid rounded" alt="placeholder">
            <figcaption class="figure-caption">Nombre del documento.</figcaption>
          </figure>
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <i class="bi bi-upc-scan"></i>
            <span class="fs-4">&nbsp;Descripción</span>
          </a>
          <hr>
          <figure class="figure">
            <img src="https://static.wixstatic.com/media/d7291c_cd4c04b07c474bd4bf0b822dfdb1649c~mv2.png/v1/fit/w_512%2Ch_512%2Cal_c%2Cq_80,enc_auto/file.jpg" class="figure-img img-fluid rounded" alt="placeholder">
            <figcaption class="figure-caption">Resumen del documento actual.</figcaption>
          </figure>
          <a href="#" class="icon-link">
            Consulta externa
            <i class="bi bi-arrow-right-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const userAvatar = "{{ url_for('static', filename='images/user.png') }}";
    const botAvatar = "{{ url_for('static', filename='images/impre.png') }}";

    // Se vincula la función principal del chatbot al uso del botón "Enviar"
    $("#bot-button").on("click", function(event) {
      if ($("#chat-input").val()) {
        event.preventDefault();
        showQAChatBot(userAvatar, botAvatar);
      }
    });

    // Se vincula la función principal del chatbot al uso de la tecla "Enter"
    $("#chat-input").on("keypress", function(event) {
      if (event.which == 13 && $("#chat-input").val()) {
        event.preventDefault();
        showQAChatBot(userAvatar, botAvatar);
      }
    });
   
    // Se muestra la conversación seleccionada en la ventana de chat
    $('#conversations-list').on('click', '.conversation', function(event) {
      event.preventDefault();
      let conversationId = $(this).data('id');
      getConversation(conversationId, userAvatar, botAvatar);     
    });
  </script>
{% endblock %}