{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
  <div class="container pt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% elif category == 'warning' %}
            <div class="alert alert-warning" role="alert">
              {{ message }} Ir a <a href="{{ url_for('auth.login') }}">iniciar sesión</a>.
            </div>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <main class="form-auth w-100 m-auto">
      <form method="POST" action="/signup">
        <img class="mb-4" src="{{ url_for('static', filename='images/impre.png') }}" alt="logo" width="48" height="auto">
        <h1 class="h3 mb-3 fw-normal">Registrate como nuevo usuario</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingName" name="name">
          <label for="floatingName">Nombre</label>
        </div>
        <div class="form-floating">
          <select class="form-select" id="floatingAgents" name="agents" style="height: auto;" multiple>
            {% for agent in agents %}
              <option value="{{ agent.nombre_agente }}">{{ agent.nombre_agente }}</option>
            {% endfor %}
          </select>
          <label for="floatingAgents">Agentes permitidos</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingEmail" name="email">
          <label for="floatingEmail">Correo electrónico</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password">
          <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Registrarse</button>
      </form>
    </main>
  </div>
{% endblock %}
