/* Estilos para los formularios */
html,
body {
  height: 100%;
}

.form-auth {
  max-width: 330px;
  padding: 1rem;
}

.form-auth .form-floating:focus-within {
  z-index: 2;
}

.form-auth input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-auth input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-auth input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos para la selección de agentes en el perfil */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}


