<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style_prueba.css')}}">
    </head>
    <body>
        <header>
            <div>
                <img src="file://{{logo}}">
            </div>
            <div class="header-center">
                <div class="pt12 bold">IMPRESISTEM S.A.S</div>
                <div class="pt10" style="padding: 10px 0;">NIT: 800091549-2</div>
                <div class="pt8">COTA CALLE 80 KM 2 AUTOPISTA MEDELLIN PBX: 571-8766505</div>
                <div class="pt8">servicioalcliente@impresistem.com</div>
                <div class="pt8">www.impresistem.com</div>
            </div>
            <div class="header-right">
                <div class="pt12 bold" style="padding-bottom: 10px;">COTIZACIÓN</div>
                <div class="pt12">No. {{data[0].preCot}} 123</div>
            </div>
        </header>
        <main>
            {% if data %}
                <section>
                    <p class="pt8" style="text-align: center;padding: 0 10%;">A continuación nos permitimos presentar a su consideración y evaluación ánimo de ofrecer las soluciones que mejor se
                        adapten a sus necesidades y requerimientos</p>
                    <p class="pt8 bold">COTIZACIÓN EN {{data[0].currencyCode}} A:</p>
                    <table id="tab-info">
                        <tr>
                            <th>Nombre:</th>
                            <td style="width: 24%;" id="info-name">{{data[0].client}}</td>
                            <th>Ciudad:</th>
                            <td id="info-city">{{data[0].city}}</td>
                            <th>Fecha:</th>
                            <td id="info-date">{{data[0].date}}</td>
                        </tr>
                        <tr>
                            <th>Dirección:</th>
                            <td id="info-address" style="width: 24%;">{{data[0].address}}</td>
                            <th>Teléfono:</th>
                            <td id="info-phone">{{data[0].phone}}</td>
                            <th>Vigencia:</th>
                            <td id="info-validity">{{data[0].effectiveDate}}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td id="info-mail" style="width: 24%;">{{data[0].email}}</td>
                            <th>TRM:</th>
                            <td id="info-trm">{{data[0].trm}}</td>
                            <th>Vendedor:</th>
                            <td id="info-seller">{{data[0].seller}}</td>
                        </tr>
                        <tr>
                            <th style="font-size: 6pt;">Código:</th>
                            <td style="font-size: 6pt;padding: 0;width: 24%;">
                                <table style="margin: 0;border: none;">
                                    <tr>
                                        <td id="inf-code" style="font-size: 6pt;border: none;">{{data[0].code}}</td>
                                        <th style="font-size: 6pt;border-left: 1px solid black;border-right: 1px solid black;border-top: none;border-bottom: none;">NIT:</th>
                                        <td id="info-nit" style="font-size: 6pt;border: none;">{{data[0].nit}}</td>
                                    </tr>
                                </table>
                            </td>
                            <th style="font-size: 6pt;">#Oportunidad:</th>
                            <td id="info-num-oportunity" style="font-size: 6pt;">{{data[0].opportunity}}</td>
                            <th style="font-size: 6pt;">E-mail:</th>
                            <td id="info-seller-mail" style="font-size: 6pt;">{{data[0].sellerEmail}}</td>
                        </tr>
                    </table>
                </section>
                <section>
                    <table>
                        <thead>
                            <tr>
                                <th>CÓDIGO</th>
                                <th>DESCRIPCIÓN DE PRODUCTO Y/O SERVICIO</th>
                                <th>CANTIDAD</th>
                                <th>VALOR UNITARIO</th>
                                <th>OTROS DTOS</th>
                                <th>VALOR TOTAL</th>
                                <th>IVA</th>
                                <th>DTO COMER CON</th>
                                <th>TOTAL A PAGAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for azure_item in data %}
                                <tr>
                                    <td style="text-align: center;"> {{azure_item.codeMachine}} </td>
                                    <td> {{azure_item.productName}} </td> 
                                    <td style="text-align: center;">1</td> 
                                    <td style="text-align: right;"> {{azure_item.priceByMonth}} </td> 
                                    <td style="text-align: right;">N/A</td> 
                                    <td style="text-align: right;">{{azure_item.priceByMonth}}</td> 
                                    <td style="text-align: right;">0</td> 
                                    <td style="text-align: right;">N/A</td> 
                                    <td style="text-align: right;">{{azure_item.priceByMonth}}</td> 
                                </tr>
                            {% endfor %}
                            {% for item in data.Items %}
                                <tr>
                                    <td style="text-align: center;">1</td>
                                    <td>{{item.productName}}</td>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: right;">{{item.unitPrice}}</td>
                                    <td style="text-align: right;">1</td>
                                    <td style="text-align: right;">1</td>
                                    <td style="text-align: right;">1</td>
                                    <td style="text-align: right;">1</td>
                                    <td style="text-align: right;">1</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </main>
        <footer>
            <table id="tab-resumen">
                <tr>
                    <td rowspan="3" colspan="2">Observaciones:</td>
                    <td style="width: 20%;">SUBTOTAL:</td>
                    <td style="width: 20%;">{{data[0].totalPriceByMonth}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">DESCUENTO:</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="width: 20%;">IVA:</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(220,220,220);width: 20%;">Forma de Pago:</td>
                    <td></td>
                    <td style="width: 20%;">FLETE:</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td rowspan="5" colspan="2" style="background-color: rgb(220,220,220);font-size: 6pt;">
                        <ul>
                            <p class="bold">CONDICIONES COMERCIALES</p>
                            <li>- Precios sujetos a cambio sin previo aviso.</li>
                            <li>- Precios de promoción sujetos a inventario.</li>
                            <li>- Disponibilidad de los productos sujetos a inventario.</li>
                            <li>- Los precios unitarios de productos y servicios se relacionan en USD.</li>
                            <li>- Modalidad de pago: Puede elegir entre transferencia en cuenta de compensación o TRM al vencimiento de la factura. En
                                ambos casos, debe diligenciar el formato correspondiente y enviarlo firmado a su ejecutivo de cuenta en casode no haberlo
                                realizado antes.</li>
                            <li>- Esta cotización es una recomendación por lo tanto debe ser analizada y aprobada por su departamento de ingeniería, la
                                empresa no se hace responsable de las configuraciones finales ya que estas son decisiones de usuarios finales.</li>
                        </ul>
                    </td>
                    <td style="width: 20%;">IVA FLETE:</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="width: 20%;">DESCUENTO CONDICIONADO</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="width: 20%;">TOTAL A PAGAR:</td>
                    <td style="width: 20%;">{{data[0].totalPriceByMonth}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">COTIZADO POR:</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">{{current_user.nombre_usuario}}</td>
                </tr>
            </table>
        </footer>
    </body>
</html>